[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb

*.apk
*.aab
*.asset
*.unitypackage
*.prefab
*.meta
*.exe

.DS_Store
Thumbs.db
*.swp

